
.Text {
    color: var(--primary-color);
    font-size: var(--font-size-m);
}

// TextColor
.primary {
    color: var(--primary-color)
};

.secondary {
    color: var(--secondary-color)
};

.error {
    color: var(--red-color)
}

// TextVariant
.m {
    font-size: var(--font-size-m);
};

.l {
    font-size: var(--font-size-l);
};

.xl {
    font-size: var(--font-size-xl);
};
