.Modal {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}

.content {
    background-color: var(--bg-color);
    min-width: 400px;
    padding: 20px;
    border-radius: 12px;
    max-width: 50%;
    text-align: center;
}

.titleWrapper {
    border-bottom: 1px dashed var(--primary-color);
    margin-bottom: 20px;
    padding-bottom: 5px;
}



.Modal.opened {
    z-index: var(--modal-z-index);
    pointer-events: all;
    opacity: 1;
 

    .content {
        animation: modalFadeIn .2s;
    }
}

.Modal.closing {
    .content {
        animation: modalFadeOut .2s;
    }
}

.overlay {
    height: 100%;
    width: 100%;
    background: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes modalFadeIn {
    0% {
        opacity: 0;
        transform: scale(10%);
    }

    100% {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes modalFadeOut {
    0% {
        opacity: 1;
        transform: scale(100%);
    }

    100% {
        opacity: 0;
        transform: scale(10%);
    }
}
