.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    text-align: center;
    background-color: var(--inverted-bg-color);
    position: relative;
    color: var(--inverted-primary-color);
    transition: width 0.2s;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    

    .item {
        display: flex;
        align-items: center;
        gap: 15px;

        .itemText {
            opacity: 1;
        }

       
    }
}

.icon {
    fill: var(--inverted-primary-color);
    width: 30px;
    height: 30px;
}

.switchers {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.collapsed {
    width: var(--sidebar-width-collapced);
 
    .switchers {
        flex-direction: column;
    }

    .collapseBtn {
        width: 40px;
        height: 40px;
    }

    .items {
        .itemText {
            display: none;
         
        }
    }
}

.Sidebar:not(.collapsed) {
    .collapseBtn {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .items {
        margin: 0 20px;
        align-items: flex-start;
    }
}


.theme {
    min-width: 30px;
    min-height: 30px;
}

.lang {
    color: var(--inverted-primary-color)
}
