.app.dark {
    --bg-color: rgb(2 2 63);
    --inverted-bg-color: rgb(228 228 228);

    --primary-color: rgb(16 224 16);
    --secondary-color: rgb(12 180 12);
    --inverted-primary-color: rgb(18 59 196);
    --inverted-secondary-color: rgb(7 75 219);

    --btn-primary-color: black;
    --btn-bg-primary-color: #f5f5f5; 
    --inverted-btn-primary-color: white;
    --inverted-btn-bg-primary-color: rgb(2 2 63); 
 

    --error-color: red;
}
