.app.dark {
    --bg-color: rgb(2 2 63);
    
    --inverted-bg-color: rgb(228 228 228);
    --primary-color: rgb(16 224 16);
    --secondary-color: rgb(12 180 12);
    --inverted-primary-color: rgb(18 59 196);
    --inverted-secondary-color: rgb(7 75 219);
}
