@use 'app/styles/mixins/mixins' as m;

.AppLink {
    color: var(--primary-color);

    @include m.hover-opacity;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}
